
/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@300&display=swap');

/* General css rule */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;   /* Keep the size of shapes */
}

body{
    font-family: Inter, sans-serif;
    color: #3a52a4;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    
}

/* SPA headings and logo */

h1{
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:  #ee835f; 
}

h2{
    font-family: Inter, sans-serif;
    font-size: 280%;
    text-transform: capitalize;
    letter-spacing: 2px;
    color:  #3a52a4; 
    text-shadow: 2px 2px #ee835f;
}


#logo-spa{
    float: left;
    font-size: 300%;
    margin-left: 25px;
    text-shadow: 2px 2px #3a52a4;
}

/* SPA navigation links*/

#bg-header{
    background-color: rgba(238, 131, 95, 0.205);
    height: 87px;
}

#nav-link-list, #logo-spa{
    line-height: 87px;
}

#nav-link-list{
    font-size: 100%;
    letter-spacing: 2px;
}

#nav-link-list li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#nav-link-list a{
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

#nav-link-list a:hover{
    border-bottom: 1px solid #ee835f;
}

/* Home SPA sections */
.home-image{
    height: 90vh;
    width: 100%;
    background: url(../images/home-spa.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

    position: relative;
}

.home-greeting{
    text-align: center;
    letter-spacing: 2px;
    width: 450px;
    height: 200px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(238, 131, 95, 0.7);
    bottom: 73px;
    right: 190px;
    position: absolute;
    border-radius: 120px 50px;
}

.home-greeting p{
    padding-top: 20px;
    font-size: 174%;
}
 
/* About Us SPA section  */

#aboutus{
    max-width: fit-content;
    max-height: fit-content;
    height: 100vh;
    width: 100%;
    position: relative;
}

#aboutus p{
    font-size: 150%;
    line-height: 35px;
    padding: 10px;
}

.aboutus-summary {
    padding: 15px 0;
    margin: 0;
    text-align: center;
    width: 800px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.aboutus-box {
    width: 650px;
}

hr {
    border-top: 3px solid #3a52a4;
    width: 100%;
    margin: 7px 0;
}

h3{
    font-family: Inter, sans-serif;
    font-size: 200%;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 10px;
}

.aboutus-individual {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 33px;
    background-color: #ee835f;
}

.aboutus-peaceful {
    float: right;
    line-height: 20px;
    clear: both;
    margin: 33px;
    background-color: #3a52a4;
    color: #ee835f;
}

.aboutus-peaceful hr {
    border-top: 3px solid #ee835f;
    width: 100%;
    margin: 7px 0;
}

.aboutus-experience {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 33px;
    background-color: #ee835f;
}

#contact{
    max-width: fit-content;
    max-height: fit-content;
    height: 100vh;
    width: 100%;
}